.mat-form-field {
  font-size: 14px;
  width: 100%;
}

#food-comparison-criteria, #food-selection-container {
  margin-top: 30px;
}

.food-comparison-criteria-group {
  font-weight: bold;
}

.food-comparison-criteria-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 20px;
  margin-bottom: 20px;
}

#food-selection-form {
  display: flex;
}

#food-selection-form > * {
  margin: 10px;
}

table {
  width: 100%;
}

table#selected-food-table th.mat-column-id, table#selected-food-table th.mat-column-actions {
  width: 15%;
}

div#food-comparison-container {
  overflow-x: auto;
  margin-top: 30px;
  border-radius: 10px;
  background: #7918f2;
  background: -webkit-linear-gradient(-68deg,#ac32e4,#4801ff);
  background: -o-linear-gradient(-68deg,#ac32e4,#4801ff);
  background: -moz-linear-gradient(-68deg,#ac32e4,#4801ff);
  background: linear-gradient(-68deg,#ac32e4,#4801ff);
}

div#food-comparison-container table {
  overflow-x: auto;
  background-color: transparent;
  border-spacing: 0px;
}

div#food-comparison-container table tr td, div#food-comparison-container table tr th {
  padding: 20px 5px 20px 5px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 1.4;
}

div#food-comparison-container table tr td:nth-of-type(1).group {
  padding-left: 5px;
}

div#food-comparison-container table tr td:nth-of-type(1) {
  text-align: left;
  padding-left: 15px;
}

div#food-comparison-container table tr th {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .32);
}

div#food-comparison-container table tbody tr:hover td {
  background-color: rgba(255,255,255,.1);
}

div#food-comparison-container table tbody tr td:hover {
  background-color: rgba(255,255,255,.2);
}