.mat-form-field {
  font-size: 14px;
}

div.food-table-container {
  overflow: auto;
}

table.food-list-table {
  width: 100%;
}

table.food-list-table th.mat-column-id, table.food-list-table th.mat-column-actions {
  width: 15%;
}