h1.food-name {
  font-size: 1.4em;
  text-align: center;
  color: #ff4081;
}

h2.food-category {
  font-size: 1.2em;
  text-align: center;
  color: #596275;
}

.mat-dialog-content {
  padding: 0px;
  max-height: inherit;
}