<h1 class="food-name">{{data.description}}</h1>
<h2 class="food-category">{{data.category}}</h2>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab i18n-label label="General">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <strong i18n>Humidity (%):</strong>&nbsp;
          {{isString(data.humidity_percents) ? data.humidity_percents : (data.humidity_percents | percent)}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Energy (kcal):</strong>&nbsp;
          {{isString(data.energy_kcal) ? data.energy_kcal : (data.energy_kcal | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Energy (kj):</strong>&nbsp;
          {{isString(data.energy_kj) ? data.energy_kj : (data.energy_kj | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Protein (g):</strong>&nbsp;
          {{isString(data.protein_g) ? data.protein_g : (data.protein_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Lipid (g):</strong>&nbsp;
          {{isString(data.lipid_g) ? data.lipid_g : (data.lipid_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Cholesterol (mg):</strong>&nbsp;
          {{isString(data.cholesterol_mg) ? data.cholesterol_mg : (data.cholesterol_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Carbohydrate (g):</strong>&nbsp;
          {{isString(data.carbohydrate_g) ? data.carbohydrate_g : (data.carbohydrate_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Fiber (g):</strong>&nbsp;
          {{isString(data.fiber_g) ? data.fiber_g : (data.fiber_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Ashes (g):</strong>&nbsp;
          {{isString(data.ashes_g) ? data.ashes_g : (data.ashes_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Calcium (mg):</strong>&nbsp;
          {{isString(data.calcium_mg) ? data.calcium_mg : (data.calcium_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Magnesium (mg):</strong>&nbsp;
          {{isString(data.magnesium_mg) ? data.magnesium_mg : (data.magnesium_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Manganese (mg):</strong>&nbsp;
          {{isString(data.manganese_mg) ? data.manganese_mg : (data.manganese_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Phosphorus (mg):</strong>&nbsp;
          {{isString(data.phosphorus_mg) ? data.phosphorus_mg : (data.phosphorus_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Iron (mg):</strong>&nbsp;
          {{isString(data.iron_mg) ? data.iron_mg : (data.iron_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Sodium (mg):</strong>&nbsp;
          {{isString(data.sodium_mg) ? data.sodium_mg : (data.sodium_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Potassium (mg):</strong>&nbsp;
          {{isString(data.potassium_mg) ? data.potassium_mg : (data.potassium_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Copper (mg):</strong>&nbsp;
          {{isString(data.copper_mg) ? data.copper_mg : (data.copper_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Zinc (mg):</strong>&nbsp;
          {{isString(data.zinc_mg) ? data.zinc_mg : (data.zinc_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Retinol (mcg):</strong>&nbsp;
          {{isString(data.retinol_mcg) ? data.retinol_mcg : (data.retinol_mcg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>RE (mcg):</strong>&nbsp;
          {{isString(data.re_mcg) ? data.re_mcg : (data.re_mcg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>RAE (mcg):</strong>&nbsp;
          {{isString(data.rae_mcg) ? data.rae_mcg : (data.rae_mcg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Thiamine (mg):</strong>&nbsp;
          {{isString(data.thiamine_mg) ? data.thiamine_mg : (data.thiamine_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Riboflavin (mg):</strong>&nbsp;
          {{isString(data.riboflavin_mg) ? data.riboflavin_mg : (data.riboflavin_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Pyridoxine (mg):</strong>&nbsp;
          {{isString(data.pyridoxine_mg) ? data.pyridoxine_mg : (data.pyridoxine_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Niacin (mg):</strong>&nbsp;
          {{isString(data.niacin_mg) ? data.niacin_mg : (data.niacin_mg | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Vitamin C (mg):</strong>&nbsp;
          {{isString(data.vitaminC_mg) ? data.vitaminC_mg : (data.vitaminC_mg | number:'1.0-2')}}
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab i18n-label label="Fatty acids">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <strong i18n>Saturated (g):</strong>&nbsp;
          {{isString(data.saturated_g) ? data.saturated_g : (data.saturated_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Monounsaturated (g):</strong>&nbsp;
          {{isString(data.monounsaturated_g) ? data.monounsaturated_g : (data.monounsaturated_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Polyunsaturated (g):</strong>&nbsp;
          {{isString(data.polyunsaturated_g) ? data.polyunsaturated_g : (data.polyunsaturated_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>12:0 (g):</strong>&nbsp;
          {{isString(data['12:0_g']) ? data['12:0_g'] : (data['12:0_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>14:0 (g):</strong>&nbsp;
          {{isString(data['14:0_g']) ? data['14:0_g'] : (data['14:0_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>16:0 (g):</strong>&nbsp;
          {{isString(data['16:0_g']) ? data['16:0_g'] : (data['16:0_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:0 (g):</strong>&nbsp;
          {{isString(data['18:0_g']) ? data['18:0_g'] : (data['18:0_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>20:0 (g):</strong>&nbsp;
          {{isString(data['20:0_g']) ? data['20:0_g'] : (data['20:0_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>22:0 (g):</strong>&nbsp;
          {{isString(data['22:0_g']) ? data['22:0_g'] : (data['22:0_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>24:0 (g):</strong>&nbsp;
          {{isString(data['24:0_g']) ? data['24:0_g'] : (data['24:0_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>14:1 (g):</strong>&nbsp;
          {{isString(data['14:1_g']) ? data['14:1_g'] : (data['14:1_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>16:1 (g):</strong>&nbsp;
          {{isString(data['16:1_g']) ? data['16:1_g'] : (data['16:1_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:1 (g):</strong>&nbsp;
          {{isString(data['18:1_g']) ? data['18:1_g'] : (data['18:1_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>20:1 (g):</strong>&nbsp;
          {{isString(data['20:1_g']) ? data['20:1_g'] : (data['20:1_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:2 n-6 (g):</strong>&nbsp;
          {{isString(data['18:2 n-6_g']) ? data['18:2 n-6_g'] : (data['18:2 n-6_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:3 n-3 (g):</strong>&nbsp;
          {{isString(data['18:3 n-3_g']) ? data['18:3 n-3_g'] : (data['18:3 n-3_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>20:4 (g):</strong>&nbsp;
          {{isString(data['20:4_g']) ? data['20:4_g'] : (data['20:4_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>20:5 (g):</strong>&nbsp;
          {{isString(data['20:5_g']) ? data['20:5_g'] : (data['20:5_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>22:5 (g):</strong>&nbsp;
          {{isString(data['22:5_g']) ? data['22:5_g'] : (data['22:5_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>22:6 (g):</strong>&nbsp;
          {{isString(data['22:6_g']) ? data['22:6_g'] : (data['22:6_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:1t (g):</strong>&nbsp;
          {{isString(data['18:1t_g']) ? data['18:1t_g'] : (data['18:1t_g'] | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:2t (g):</strong>&nbsp;
          {{isString(data['18:2t_g']) ? data['18:2t_g'] : (data['18:2t_g'] | number:'1.0-2')}}
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab i18n-label label="Amino acids">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <strong i18n>Tryptophan (g):</strong>&nbsp;
          {{isString(data.tryptophan_g) ? data.tryptophan_g : (data.tryptophan_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Threonine (g):</strong>&nbsp;
          {{isString(data.threonine_g) ? data.threonine_g : (data.threonine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Isoleucine (g):</strong>&nbsp;
          {{isString(data.isoleucine_g) ? data.isoleucine_g : (data.isoleucine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Leucine (g):</strong>&nbsp;
          {{isString(data.leucine_g) ? data.leucine_g : (data.leucine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Lysine (g):</strong>&nbsp;
          {{isString(data.lysine_g) ? data.lysine_g : (data.lysine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Methionine (g):</strong>&nbsp;
          {{isString(data.methionine_g) ? data.methionine_g : (data.methionine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Cystine (g):</strong>&nbsp;
          {{isString(data.cystine_g) ? data.cystine_g : (data.cystine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Phenylalanine (g):</strong>&nbsp;
          {{isString(data.phenylalanine_g) ? data.phenylalanine_g : (data.phenylalanine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Tyrosine (g):</strong>&nbsp;
          {{isString(data.tyrosine_g) ? data.tyrosine_g : (data.tyrosine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Valine (g):</strong>&nbsp;
          {{isString(data.valine_g) ? data.valine_g : (data.valine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Arginine (g):</strong>&nbsp;
          {{isString(data.arginine_g) ? data.arginine_g : (data.arginine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Histidine (g):</strong>&nbsp;
          {{isString(data.histidine_g) ? data.histidine_g : (data.histidine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Alanine (g):</strong>&nbsp;
          {{isString(data.alanine_g) ? data.alanine_g : (data.alanine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Aspartic (g):</strong>&nbsp;
          {{isString(data.aspartic_g) ? data.aspartic_g : (data.aspartic_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Glutamic (g):</strong>&nbsp;
          {{isString(data.glutamic_g) ? data.glutamic_g : (data.glutamic_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Glycine (g):</strong>&nbsp;
          {{isString(data.glycine_g) ? data.glycine_g : (data.glycine_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Proline (g):</strong>&nbsp;
          {{isString(data.proline_g) ? data.proline_g : (data.proline_g | number:'1.0-2')}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Serine (g):</strong>&nbsp;
          {{isString(data.serine_g) ? data.serine_g : (data.serine_g | number:'1.0-2')}}
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>