<h1 class="food-name">{{ row.description }}</h1>
<h2 class="food-category">{{ row.category }}</h2>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab i18n-label label="General">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <strong i18n>Humidity (%)</strong>:&nbsp;{{ row['humidity_percents'] / 100 | foodAttribute:'percent' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Energy (kcal)</strong>:&nbsp;{{ row['energy_kcal'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Energy (kj)</strong>:&nbsp;{{ row['energy_kj'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Protein (g)</strong>:&nbsp;{{ row['protein_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Lipid (g)</strong>:&nbsp;{{ row['lipid_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Cholesterol (mg)</strong>:&nbsp;{{ row['cholesterol_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Carbohydrate (g)</strong>:&nbsp;{{ row['carbohydrate_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Fiber (g)</strong>:&nbsp;{{ row['fiber_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Ashes (g)</strong>:&nbsp;{{ row['ashes_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Calcium (mg)</strong>:&nbsp;{{ row['calcium_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Magnesium (mg)</strong>:&nbsp;{{ row['magnesium_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Manganese (mg)</strong>:&nbsp;{{ row['manganese_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Phosphorus (mg)</strong>:&nbsp;{{ row['phosphorus_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Iron (mg)</strong>:&nbsp;{{ row['iron_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Sodium (mg)</strong>:&nbsp;{{ row['sodium_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Potassium (mg)</strong>:&nbsp;{{ row['potassium_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Copper (mg)</strong>:&nbsp;{{ row['copper_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Zinc (mg)</strong>:&nbsp;{{ row['zinc_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Retinol (mcg)</strong>:&nbsp;{{ row['retinol_mcg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>RE (mcg)</strong>:&nbsp;{{ row['re_mcg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>RAE (mcg)</strong>:&nbsp;{{ row['rae_mcg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Thiamine (mg)</strong>:&nbsp;{{ row['thiamine_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Riboflavin (mg)</strong>:&nbsp;{{ row['riboflavin_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Pyridoxine (mg)</strong>:&nbsp;{{ row['pyridoxine_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Niacin (mg)</strong>:&nbsp;{{ row['niacin_mg'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Vitamin C (mg)</strong>:&nbsp;{{ row['vitaminC_mg'] | foodAttribute:'number' }}
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab i18n-label label="Fatty acids">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <strong i18n>Saturated (g)</strong>:&nbsp;{{ row['saturated_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Monounsaturated (g)</strong>:&nbsp;{{ row['monounsaturated_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Polyunsaturated (g)</strong>:&nbsp;{{ row['polyunsaturated_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>12:0 (g)</strong>:&nbsp;{{ row['12:0_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>14:0 (g)</strong>:&nbsp;{{ row['14:0_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>16:0 (g)</strong>:&nbsp;{{ row['16:0_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:0 (g)</strong>:&nbsp;{{ row['18:0_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>20:0 (g)</strong>:&nbsp;{{ row['20:0_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>22:0 (g)</strong>:&nbsp;{{ row['22:0_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>24:0 (g)</strong>:&nbsp;{{ row['24:0_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>14:1 (g)</strong>:&nbsp;{{ row['14:1_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>16:1 (g)</strong>:&nbsp;{{ row['16:1_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:1 (g)</strong>:&nbsp;{{ row['18:1_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>20:1 (g)</strong>:&nbsp;{{ row['20:1_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:2 n-6 (g)</strong>:&nbsp;{{ row['18:2 n-6_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:3 n-3 (g)</strong>:&nbsp;{{ row['18:3 n-3_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>20:4 (g)</strong>:&nbsp;{{ row['20:4_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>20:5 (g)</strong>:&nbsp;{{ row['20:5_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>22:5 (g)</strong>:&nbsp;{{ row['22:5_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>22:6 (g)</strong>:&nbsp;{{ row['22:6_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:1t (g)</strong>:&nbsp;{{ row['18:1t_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>18:2t (g)</strong>:&nbsp;{{ row['18:2t_g'] | foodAttribute:'number' }}
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab i18n-label label="Amino acids">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <strong i18n>Tryptophan (g)</strong>:&nbsp;{{ row['tryptophan_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Threonine (g)</strong>:&nbsp;{{ row['threonine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Isoleucine (g)</strong>:&nbsp;{{ row['isoleucine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Leucine (g)</strong>:&nbsp;{{ row['leucine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Lysine (g)</strong>:&nbsp;{{ row['lysine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Methionine (g)</strong>:&nbsp;{{ row['methionine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Cystine (g)</strong>:&nbsp;{{ row['cystine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Phenylalanine (g)</strong>:&nbsp;{{ row['phenylalanine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Tyrosine (g)</strong>:&nbsp;{{ row['tyrosine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Valine (g)</strong>:&nbsp;{{ row['valine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Arginine (g)</strong>:&nbsp;{{ row['arginine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Histidine (g)</strong>:&nbsp;{{ row['histidine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Alanine (g)</strong>:&nbsp;{{ row['alanine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Aspartic (g)</strong>:&nbsp;{{ row['aspartic_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Glutamic (g)</strong>:&nbsp;{{ row['glutamic_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Glycine (g)</strong>:&nbsp;{{ row['glycine_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Proline (g)</strong>:&nbsp;{{ row['proline_g'] | foodAttribute:'number' }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <strong i18n>Serine (g)</strong>:&nbsp;{{ row['serine_g'] | foodAttribute:'number' }}
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>