@import "~@ng-select/ng-select/themes/material.theme.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.pre-wrap {
  white-space: pre-wrap;
}

h1.page-title {
  color: #9b59b6;
  text-align: center;
  margin-block-start: 1em;
}

h2.page-subtitle {
  color: #596275;
  text-align: center;
}

div.page-content {
  width: 98%;
  margin: auto;
}

div.page-content p {
  text-align: justify;
}

div.page-content p.reference {
  text-align: center;
  font-size: 0.8em;
  margin-top: 50px;
}

div.page-content .mat-card {
  margin-top: 30px;
}

div.page-content .mat-horizontal-content-container {
  overflow: inherit;
}

div.page-content .mat-horizontal-stepper-header {
  padding: 5px;
}

div.page-content .mat-step-label, div.page-content .mat-step-label-selected {
  font-size: 12px;
}

div.page-content .ng-select {
  width: 100%;
}

div.page-content .ng-placeholder {
  font-size: 14px;
}

div.page-content .mat-button-toggle-checked{
  color: white;
  background-color: #3f51b5;
}

div.page-content .mat-chip-list-wrapper {
  justify-content: center;
}

div.page-content .stepper-buttons {
  display: flex;
  box-sizing: border-box;
  margin-top: 15px;
  padding: 0 15px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

div.page-content .stepper-buttons button {
  background-color: #9b59b6;
  color: white;
}

.mat-spacer {
  flex: 1 1 auto;
}

@media print
{    
    .no-print, .no-print *
    {
      display: none !important;
    }

    div.page-content .mat-horizontal-stepper-header-container, div.page-content .mat-horizontal-stepper-header-container * {
      display: none !important;
    }
}