@import "~@ng-select/ng-select/themes/material.theme.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  text-align: justify;
}

p.reference {
  text-align: center;
  font-size: 0.8em;
  margin-top: 50px;
}

h1.page-title {
    text-align: center;
    color: #9b59b6;
}

h2.page-subtitle {
    text-align: left;
    color: #596275
}

div.page-content {
    width: 98%;
    margin: auto;
}

span.mat-spacer {
  flex: 1 1 auto;
}

.mat-grid-tile .mat-figure.mat-figure {
  justify-content: flex-start;
  align-items: flex-start;
}

.ng-select {
  width: 100%;
}

.ng-placeholder {
  font-size: 14px;
}

div.page-content div.mat-horizontal-content-container {
  overflow: inherit;
}

div.stepper-buttons {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

div.stepper-buttons button {
    background-color: #9b59b6;
    color: white;
}